//
// Styles de base
// ---------------------------------------

// Antialiasing
// ---------------------------------------
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#etd-cookie {
  top: 0;
  right: 0;
  margin: 0 auto;
  color: #000;
  background: #fff;
  padding:5px
}